<div class="chatcombatcard">
<h3>{{localize "duelcard.title"}}</h3>
{{#if card}}
  <div class="duelcard">
    <img src="systems/ronin-saga/assets/card-{{card}}.jpg">
    <div class="{{card}}" id="cardname">{{card}}</div>
  </div>
{{/if}}
</div>
